<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	>

	<!-- log4j日至配置 start -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<!-- log4j日至配置 end -->


	<!-- spring配置 start -->
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value> 
		classpath:applicationContext.xml
    	</param-value>
	</context-param>

	<!-- spring监听 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
		<filter-class>
			org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>


	<!-- spring配置 end -->


	<!-- jcaptcha验证码配置 start -->
	<!--
		<servlet> <servlet-name>jcaptcha</servlet-name>
		<servlet-class>com.pigeon.common.jcaptcha.ImageCaptchaServlet</servlet-class>
		<load-on-startup>0</load-on-startup> </servlet> <servlet-mapping>
		<servlet-name>jcaptcha</servlet-name>
		<url-pattern>/servlet/jcaptcha</url-pattern> </servlet-mapping>
	--><!-- jcaptcha验证码配置 end -->

	<!-- security3配置 start -->
	<!--
		<filter> <filter-name>securityFilterChainProxy</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		</filter> <filter-mapping>
		<filter-name>securityFilterChainProxy</filter-name>
		<url-pattern>/*</url-pattern> <dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher> </filter-mapping>
	--><!-- security3配置 end -->
	<!-- gzip压缩配置 start -->
	<!--
		<filter> <filter-name>gzipFilter</filter-name>
		<filter-class>com.pigeon.common.util.gzip.GzipFilter</filter-class>
		<init-param> <param-name>enable</param-name>
		<param-value>true</param-value> </init-param> </filter>
		<filter-mapping> <filter-name>gzipFilter</filter-name>
		<url-pattern>*.js</url-pattern> <url-pattern>*.css</url-pattern>
		</filter-mapping>
	--><!-- gzip压缩配置 end -->
	<!-- session周期 start -->

	<!-- session周期 end -->




	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>





</web-app>